body{
    background-color: #d1d1d1;
}
h3{
    font-weight: bold;
}
#message-container{
width: 50%;
margin: 30px auto;
}
input#message-input{
    background-color: #fff !important;
    padding: 10px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
}
p{
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    background-color: #166b63;
    padding: 5px 5px;
    
}
p.you{
    background-color: #2BBBAD;
    padding: 5px 5px;
}